<% include header.ejs %>

<script>
  function dl(target) {
    window.location = '<%= baseURL %>/app/<%=app%>/download?t=' + target;
  }

</script>

<main id="content" class="bs-docs-masthead" role="main">
  <h2 class="appSuperTitle">Your App is ready to use!</h2>
  <div id="container" class="container">
    <section class="notice" id="notice">
      Your application details
    </section>
    <article id="appid" class="app-summary ui-block new">
    <section class="summary">
        <img alt="Icon" class="app-icon" src="<%= app.img %>">
        <h1 class="app-title"><a href="<%= app.target %>" target="_blank"> <%=app.name%></a></h1>
      <div class="desc">
          An App to make the world a better place
      </div>
      <div class="desc">
         The app is available at: <a href="<%= app.target %>" target="_blank"> <%= app.target %> </a> we encourage you to distribute your app via that link but alternatively you can distribute the binaries below: 
      </div>
      <div class="packages">
      	<a class="pkg error" href="">iOS</a>
      	<a class="pkg android error" href="">Android</a>
      	<a class="pkg android complete" href="javascript:dl('firefox')">Chrome</a>
      	<a class="pkg android complete" href="javascript:dl('chrome')">Firefox</a>
      	<a class="pkg android error" href="">Windows</a>
      	<a class="pkg android error" href="">MacOS</a>
      </div>
    </section>
    <section class="app-details">
    <div class="meta ui-block">
      <dl class="app-id">
      <dt>Version</dt>
      <dd>1.0</dd>
      </dl>
      <dl class="version">
      <dt>Listed</dt>
      <dd> Publicly </dd>
      </dl>
    </div>
    </section>
    <section class="actions">
      <a class="btn icon" href="<%= baseURL %>/app/<%=app.name%>/delete"> Delete </a>
    </section>
    </article>
  </div> <!-- container -->
</main>
<% include foot.ejs %>
