<% include header.ejs %>
    <% if (apps.length === 0) { %>
      No apps yet ...<br />
    <% } else { %>
<script>
  function dl(adminURL, target) {
    window.location = adminURL + '/download?t=' + target;
  }
</script>

<main id="content" class="bs-docs-masthead" role="main">
  <h2 class="appSuperTitle">Application List</h2>
  <div id="container" class="container">
    <% apps.forEach(function(app) { %>
    <article id="appid" class="app-summary ui-block new">
    <section class="summary">
        <img alt="Icon" class="app-icon" src="<%= app.img %>">
        <h1 class="app-title"><a href="<%= app.target %>" target="_blank"> <%= app.name %> </a>
        </h1>
      <div class="desc">
         <%= app.description %>
      </div>
      <div class="desc">
         The app is available at: <a href="<%= app.target %>" target="_blank"> <%= app.target %> </a> we encourage you to distribute your app via that link but alternatively you can distribute the binaries below: 
      </div>
      <div class="packages">
        <a class="pkg error" href="">iOS</a>
        <a class="pkg android error" href="">Android</a>
        <a class="pkg android complete" href="javascript:dl('<%= app.adminURL %>','chrome')">Chrome</a>
        <a class="pkg android complete" href="javascript:dl('<%= app.adminURL %>','firefox')">Firefox</a>
        <a class="pkg android error" href="">Windows</a>
        <a class="pkg android error" href="">MacOS</a>
      </div>
    </section>
    <section class="app-details">
    <div class="meta ui-block">
      <dl class="app-id">
      <dt>Version</dt>
      <dd>1.0</dd>
      </dl>
      <dl class="version">
      <dt>Listed</dt>
      <dd> Publicly </dd>
      </dl>
    </div>
    </section>
    <section class="actions">
      <a class="btn icon" href="<%= app.adminURL %>/delete" id="deleteButton"> Delete </a>
    </section>
    </article>
    <% }); %>
  </div> <!-- container -->
</main>
    <% } %>
<% include foot.ejs %>
