<% include header.ejs %>
<html>
<main id="content" role="main">
  <div class="container">
    <h2 class="appSuperTitle">Cacheator error</h2>
    <p><%- messageError %></p>
    <p class="lead">
      <a href="javascript:history.back()">Try it again !</a>
    </p>
  </div>
</main>
<% include foot.ejs %>
