<footer class="bs-docs-footer" role="contentifo">
  <div class="container">
  <!--  <div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=dcoloma&amp;repo=fxosrate&amp;type=watch&amp;count=true" title="Star on GitHub" height="20" width="100"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=dcoloma&amp;repo=fxosrate&amp;type=fork&amp;count=true" title="Fork on GitHub" height="20" width="102"></iframe>
    </li>
    <li class="follow-btn">
      <iframe style="width: 234px; height: 20px;" data-twttr-rendered="true" title="Twitter Follow Button" class="twitter-follow-button twitter-follow-button" src="http://platform.twitter.com/widgets/follow_button.1411706120.html#_=1411722274063&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=danielcoloma&amp;show_count=true&amp;show_screen_name=true&amp;size=m" allowtransparency="true" scrolling="no" id="twitter-widget-1" frameborder="0"></iframe>
    </li>
    <li class="tweet-btn">
      <iframe style="width: 107px; height: 20px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.1411706120.html#_=1411722274061&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdanielcoloma%2F&amp;related=mdo%3ACreator%20of%20Bootstrap&amp;size=m&amp;text=Bootstrap&amp;url=http%3A%2F%2Fdanielcoloma%2F&amp;via=danielcoloma" allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe>
    </li>
  </ul>
</div>-->


    <p>Designed and built with all the love in the world by <a href="http://twitter.com/mangiacaprini" target="_blank">@mangiacaprini</a>, <a href="http://twitter.com/danielcoloma" target="_blank">@danielcoloma</a>, <a href="http://twitter.com/miguelschneider" target="_blank">@miguelschneider </a> and  <a href="http://twitter.com/mariaoteo" target="_blank">@mariaoteo </a>.</p>
    <p>Maintained by the <a href="https://github.com/orgs/telefonicaid/teams/open-web-device">Open Web Technologies team at Telefonica</a> <!--with the help of <a href="https://github.com/xxxx/graphs/contributors">our contributors</a>.</p>-->
    <!--<p>Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>-->
    <p> Code to be open source soon under an open source license to be decided </p>
    <ul class="bs-docs-footer-links muted">
      <li>Currently v0.0.1</li>
      <li>·</li>
      <!--<li><a href="https://github.com/xxxxxx/xxxx">GitHub</a></li>
      <li>·</li>
      <li><a href="../xxxx">Examples</a></li>
      <li>·</li>
      <li><a href="../xxxxx/">About</a></li>
      <li>·</li>
      <li><a href="https://github.com/xxx/xxxx/issues?state=open">Issues</a></li>
      <li>·</li>
      <li><a href="https://github.com/ixx/xxxx/releases">Releases</a></li>-->
    </ul>
  </div>
</footer>

<% include piwik.ejs %>

</body></html>
