<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>AppMaker</title>
    <link href="<%=baseURL%>/css/app.css" rel="stylesheet">
    <link href="<%=baseURL%>/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
    <li>
      <a href="/about.html">About AppMaker</a>
    </li>
    <li>
      <a href="/">Create your App</a>
    </li>
    <li>
      <a href="<%=baseURL%>/apps">View all the Apps</a>
    </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="./about.html">Help</a></li>
    </ul>
</nav>
