<% include header.ejs %>

<main id="content" class="bs-docs-masthead" role="main">
  <h2 class="appSuperTitle">Create your App <span class="small"></span></h2>

  <div id="container" class="container">
    <section class="notice" id="notice">
      Upload your application code (Github link or zip file).
    </section>

    <form method="post" action="/publish" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="summary" id="app-upload">
      <div class="combo-pane">
        <div class="combo-box repo-url github">
          <input class="required" name="repo" autocomplete="off" placeholder="find existing repo / paste .git repo" value="" type="text">
        </div>
        <div class="combo-box tag">
          <input class="required" name="tag" autocomplete="off" placeholder="branch or tag (optional)" value="" type="text">
        </div>
        <div style="clear:both"></div>
        <a id="btn-pull" class="btn pull">
          Pull from .git repository
        </a>
        <div style="clear:both"></div>
      </div> 
      <div class="upload-pane cp-private github">
        <div id="zip-upload-button" class="btn">
          Upload a .zip file
          <input id="apppackage" type="file" name="apppackage"></input>
        </div>
      </div>
    </div>
    <section class="notice" id="notice">
      Tell us a bit about your app 
    </section>
    <article class="app-summary ui-block">
      <section class="summary">
      <div class="detail-edit">
        <img alt="Icon" class="app-icon" src="https://build.phonegap.com/ui/imgs/phonegap-logo.png">
        <input id="appicon" type="file" name="appicon"></input>
        <input class="app-title" id="appname" name="appname" placeholder="OneWordNiceAppName" value="OneWordNiceAppName" type="text">
      </div>
      <textarea class="desc" id="appdesc" placeholder="Enter your app description" name="appdesc" rows="10"></textarea>
      </section>
      <section class="app-details">
        <div><b>Permissions</b></div>
        <div>
        <label id="checkbox" class="btn icon debug" for="permission-geo">
        <input id="permission-geo" type="checkbox" name="permission-geo">
        </input>
        Geolocation 
        </label> 
        </div>
        <div>
        <label id="checkbox" class="btn icon debug" for="permission-audio">
        <input id="permission-audio" type="checkbox" name="permission-audio">
        </input>
        Audio Channels 
        </label> 
        </div>
        <div>
        <label id="checkbox" class="btn icon debug" for="permission-fm">
        <input id="permission-fm" type="checkbox" name="permission-fm">
        </input>
        FM Radio 
        </label> 
        </div>
        <div>
        <label id="checkbox" class="btn icon debug" for="permission-storage">
        <input id="permission-storage" type="checkbox" name="permission-storage">
        </input>
        Storage 
        </label> 
        <div>
        </div>
        <label id="checkbox" class="btn icon debug" for="permission-notifications">
        <input id="permission-notifications" type="checkbox" name="permission-notifications">
        </input>
        Notifications 
        </label> 
        </div>
      </section>
      <section class="actions">
        <div class="meta ui-block">
          <dl class="version">
	    <dt>Version</dt>
	    <dd>
	    1.0 
	    </dd>
          </dl>
          <dl class="owner">
	    <dt>Listed</dt>
	    <dd>Publicly</dd>
          </dl>
        </div>
      </section>
    </article>
    <footer class="dev-tools clearfix">
      <button type="submit" class="ready-btn btn primary">Ready to make it!</button>
    </footer>
    <input type="hidden" name="version" value="1.0">
    </form>
  </div> <!-- container -->
</main>
<% include foot.ejs %>
