body {
  margin-top: 1.5em;
  background-color: white;
  font-family: 'Istok Web', Helvetica, Arial, FreeSans, sans-serif;
  color: white;
}

.appSuperTitle {
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    line-height: 1.42857;
    color: #FFF;
    font-weight: 300;
    text-align: left;
    margin-left: 30px;
}

.row{
  margin: 2em;
}

.container{
  background-color: white;
  padding: 1em;
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://fonts.gstatic.com/s/droidsansmono/v7/ns-m2xQYezAtqh7ai59hJaH0X__W3S3MJL29bc5CWfs.woff) format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v8/EvPKapBawcLZ3hbihjhqAbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(http://fonts.gstatic.com/s/mavenpro/v6/MG9KbUZFchDs94Tbv9U-pbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v6/minRpKQdEvXRRS8oAbAtWvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.bs-docs-masthead, .bs-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #CDBFE3;
    color: grey;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #DDD;
}

.bs-docs-masthead {
    padding: 5px 0px;
}


#app-upload{
  background-color: #DDD;
  height: 160px;
  margin: 0px;
display: inline-block;
}

#apppackage {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    border-style: solid;
    border-color: transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 0px 26px 200px;
    transform: translate(-300px, 0px) scale(4);
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    font-family: "adobe-clean","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#appicon {
width: 64px;
height: 64px;
position: absolute;
top: 16px;
left: 16px;
margin: 0px;
border-style: solid;
border-color: transparent;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-width: 0px 0px 0px -36px;
/* transform: translate(-300px, 0px) scale(4); */
opacity: 0;
direction: ltr;
cursor: pointer;
font-family: "adobe-clean","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn, button, input[type="submit"] {
    cursor: pointer;
    font-size: 14px;
    text-shadow: 0px 1px 1px #FFF;
    color: #454545;
    white-space: nowrap;
}

.upload-pane .btn .upload-pane button {
    text-align: center;
    font-weight: 700;
}

.upload-pane .btn .upload-pane button {
    margin-left: 0px;
    display: block;
    padding: 13px 20px;
    text-align: center;
    font-weight: 700;
}

body, html, input, select, textarea {
    font-family: "adobe-clean","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    font-weight: 300;
}
html {
    font-family: sans-serif;
}

.upload-pane {
    width: 28%;
    position: relative;
    padding: 50px 20px;
}
.upload-pane, #new-app .combo-pane {
    float: left;
    background: none repeat scroll 0% 0% #EEE;
    border-radius: 6px;
}
* {
    box-sizing: border-box;
}

.upload-pane .btn, #new-app .upload-pane button {
    margin-left: 0px;
    display: block;
    padding: 13px 20px;
    text-align: center;
    font-weight: 700;
}
#zip-upload-button {
   position: relative;
cursor: pointer;
border-radius: 3px;
-moz-appearance: none;
font-size: 14px;
border: 1px solid #B2B2B2;
box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset;
background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.1), transparent);
text-shadow: 0px 1px 1px #FFF;
transition: box-shadow 0.25s ease 0s;
background-color: #F5F9FA;
color: #454545;
padding: 7px 60px;
display: inline-block;
margin: 4px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-family: "adobe-clean","Helvetica Neue",Helvetica,Arial,sans-serif;}

* {
    box-sizing: border-box;
}
body, html, input, select, textarea {
    font-family: "adobe-clean","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    font-weight: 300;
}
html {
    font-family: sans-serif;
}	

.combo-pane {
    width: 70%;
    margin-right: 2%;
    padding: 20px;
}

.upload-pane, .combo-pane {
    float: left;
    height: 120px;
    background: none repeat scroll 0% 0% #EEE;
        background-color: #EEE;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    border-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
}

.combo-box.repo-url {
    width: 70%;
    display: inline-block;
}

.combo-box {
    padding: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(center bottom , #E9E9E9 0%, #F3F3F3 100%) repeat scroll 0% 0% #EEE;
    border: 1px solid #B2B2B2;
    position: relative;
    margin-bottom: 8px;
    display: inline-block;
}

.combo-box.repo-url input {
    padding-right: 60px;
}

.combo-box input {
    border-radius: 3px;
    max-width: none;
    width: 100%;
    border-color: #BBB;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"] {
    border: 1px solid #A5A8A8;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: #000;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    margin: 0px 3px 0px 0px;
    padding: 1px 4px 0px;
    width: 100%;
    //max-width: 450px;
}

.combo-box .msg {
    display: none;
}

.combo-box.tag {
    width: 28%;
    float: right;
}

#btn-pull {
    width: 100%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    -moz-appearance: none;
    font-size: 14px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset;
    background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.1), transparent);
    text-shadow: 0px 1px 1px #FFF;
    transition: box-shadow 0.25s ease 0s;
    background-color: #F5F9FA;
    color: #454545;
    padding: 7px 8px;
    display: inline-block;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#notice{
text-align: center;
background: none repeat scroll 0% 0% #FFFF94;
    background-color: #333;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
padding: 12px;
    padding-top: 12px;
    padding-right-value: 12px;
    padding-bottom: 12px;
    padding-left-value: 12px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
font-weight: 400;
margin-bottom: 10px;
margin-top: 10px;
color: white;
}

.summary {
    margin: 0px;
    padding: 20px 20px;
    overflow: visible;
    width: 100%;
    height: 270px;
}

.notice .close {
    color: black;
    cursor: pointer;
    height: 26px;
    padding-right: 10px;
        padding-right-value: 10px;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    padding-left: 10px;
        padding-left-value: 10px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
}

.app-summary {
    border-top: 1px solid #FFF;
    position: relative;
}
.ui-block {
    margin: 0px 0px 5px;
    background: none repeat scroll 0% 0% #DDD
}

.app-summary .summary {
    margin-right: 0px;
    width: 70%;
}

.create-summary {
    margin-right: 460px;
    width: 480px;
}

.app-summary .summary, .app-summary .app-details, .app-summary .actions .create-summary{
    padding: 16px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    height: 196px;
position: relative;
overflow: hidden;
background-color: #DDD;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

.app-summary .app-icon {
    top: 16px;
    left: 16px;
    width: 64px;
    height: 64px;
position: absolute;
}

.app-summary.new .app-title {
    max-width: none;
    height: auto;
}

.app-summary .app-title {
    font-size: 36px;
    padding: 8px 0px 4px 78px;
}

.app-summary .app-title {
    font-weight: 100;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

#appname{
border: 1px solid #A5A8A8;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
box-sizing: border-box;
color: #000;
border-radius: 3px;
height: auto;
}

#appname:focus {
    background: none repeat scroll 0% 0% #C9EDF4;
    border-color: #0C9DB7;
}

textarea {
    border: 1px solid #A5A8A8;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: #000;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px;
    margin: 0px;
    display: block;
    width: 100%;
    font-weight: 400;
}

.detail-edit{
 width: 100%;
}

.app-summary .app-details {
    position: absolute;
    //right: 260px;
    top: 0px;
    //width: 400px;
    right: 10%;
    width: 20%;
}

.app-summary .summary, .app-summary .app-details, .app-summary .actions {
    padding: 16px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    height: 220px;
}


.app-summary .actions {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10%;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.dev-tools {
    padding: 8px;
    background-image: -moz-linear-gradient(center top , #E9E9E9 0%, #F3F3F3 8px);
}





.app-icon {
    border-right: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #EAEAEA #F0F0F0;
    border-radius: 6px;
    background-color: #FFF;
}

.app-summary .app-icon {
    top: 16px;
    left: 16px;
    width: 64px;
    height: 64px;
    position: absolute;
}


.btn.icon:after, button.icon:after, input.icon[type="submit"]:after {
    background: url('/images/icons.png') repeat scroll 0px 0px / 587px 120px transparent;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -1px;
    left: 0px;
    border: 1px, grey;
}

#deleteButton{
    background-color: #E13;
    border: 1px, grey;
    color: white;
    font-weight: 300;
}


#checkbox {
    width: 90%;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    -moz-appearance: none;
    font-size: 14px;
    border: 0px solid #B2B2B2;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset;
    text-align: left;
    text-shadow: 0px 1px 1px #FFF;
    transition: box-shadow 0.25s ease 0s;
    color: #454545;
    padding: 7px 8px;
    margin: 10px 8px;
    display: inline-block;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.dev-tools .ready-btn, .dev-tools .delete-app-form {
    float: right;
    position: relative;
    top: 1px;
}

.btn.primary, button.primary, input.primary[type="submit"], .btn[type="submit"], button[type="submit"], input[type="submit"][type="submit"] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #0C9DB7;
    color: #FFF;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.36);
}



.bs-docs-featurette + .bs-docs-footer {
    margin-top: 0px;
    border-top: 0px none;
}


.bs-docs-footer {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #777;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}

.bs-docs-social {
    margin-bottom: 10px;
    text-align: center;
}

.bs-docs-social-buttons {
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none outside none;
}

.bs-docs-footer-links {
    padding-left: 0px;
    margin-top: 10px;
    color: #999;
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0px 2px;
}

.bs-docs-footer-links li:first-child {
    padding-left: 0px;
}

.github-btn {
    overflow: hidden;
    border: 0px none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}

.bs-docs-social-buttons {
    list-style: none outside none;
}

.bs-docs-social {
    text-align: center;
}

.bs-docs-footer {
    color: #777;
    text-align: center;
}

.app-summary {
    border-top: 1px solid #FFF;
    position: relative;
}

.app-summary .app-icon {
    top: 16px;
    left: 16px;
    width: 64px;
    height: 64px;
}

.app-summary .detail-link {
    display: block;
    font-weight: 300;
    color: #0C9DB7;
}

.app-summary .app-title {
    font-size: 40px;
    padding: 8px 0px 4px 78px;
}

.app-summary .app-title {
    font-weight: 100;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.app-summary .desc {
    font-size: 14px;
    color: #666;
    margin: 6px 0px 0px 78px;
    text-overflow: ellipsis;
}

.app-summary .desc {
    max-height: 50px;
    overflow: hidden;
}

.app-summary.new .desc {
    max-width: none;
    margin: 8px 0px;
}

.app-summary .desc {
    max-height: 60px;
    overflow: hidden;
}

.app-summary .desc {
    font-size: 14px;
    color: #666;
    margin: 8px 2px 2px 1px;
    text-overflow: ellipsis;
}

.app-summary .packages {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #EAEAEA;
}

.app-summary .packages .pkg:before {
    display: block;
}

.app-summary .packages .pkg.ios.error:before {
    background-position: 0px -96px;
}

.app-summary .packages .pkg.ios.error:before {
    background-position: 0px -96px;
}

.app-summary .packages .pkg:before {
    display: block;
}

.app-summary .packages .pkg:before {
    content: "";
    width: 32px;
    margin: -8px auto;
    height: 32px;
//background: url('../images/platform-icons.png') no-repeat scroll left top / 224px 140px transparent;
    position: relative;
    top: 7px;
}

.app-summary .packages .pkg {
    display: inline-block;
    width: 16.6667%;
    height: 48px;
    font-size: 12px;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    vertical-align: middle;
    text-align: center;
}

.app-summary .packages .pkg.error {
    border-bottom: 2px solid #E13;
}

.app-summary .packages .pkg:first-child {
    border-left: medium none;
}

.app-summary .packages .pkg {
    display: inline-block;
    float: left;
}

.app-summary .packages .pkg.android:before {
    background-position: -32px 0px;
}

.app-summary .packages .pkg.complete {
    border-bottom: 2px solid #0C9DB7;
}

.bs-docs-booticon {
    display: block;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    cursor: default;
    background-color: #563D7C;
    border-radius: 15%;
}

.bs-docs-booticon-lg {
    width: 400px;
    height: 144px;
    font-size: 80px;
    line-height: 140px;
}

.bs-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid #CDBFE3;
}

.bs-docs-masthead .bs-docs-booticon {
    margin: 0px auto 30px;
}

.bs-docs-masthead, .bs-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #CDBFE3;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #6F5499;
    //background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    background-image: linear-gradient(to bottom, rgba(107, 117, 153, 1) 0px, rgba(86, 84, 153, 1) 100%);
    background-repeat: repeat-x;
}

.bs-docs-masthead, .bs-docs-header {
    color: black;
    background-color: #6F5499;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.bs-docs-masthead {
    padding: 20px 0px;
}

#container-logo{
background-color: transparent;
}

.bs-docs-featurette {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
    background-color: #FFF;
    border-bottom: 1px solid #E5E5E5;
}

.bs-docs-featurette {
    padding-top: 100px;
    padding-bottom: 100px;
}


.bs-docs-featurette-title {
    font-size: 40px;
}
.bs-docs-featurette-title {
    margin-bottom: 5px;
    font-weight: 400;
    color: #333;
}

.bs-docs-featurette .lead {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.lead {
    font-size: 21px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

